<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Authorize</title>
  <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>
<form th:action="@{/authorize}" th:object="${user}" method="post">
  <div class="container">
    <div class="login">Введите свой логин
      <label for="login">
        <input type="text" id="login" th:field="*{login}">
      </label>
    </div>
    <br>
    <div class="password">Введите свой пароль
      <label for="password">
        <input type="password" id="password" th:field="*{password}">
      </label>
    </div>
    <br>
    <button>Войти</button>
    <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  </div>

</form>
</body>
</html>