<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SHOP</title>
  <link rel="stylesheet" href="../static/index-style.css" th:href="@{/index-style.css}">
</head>
<body>
<div class="container-all">
  <div class="greetings"><a href="products">Semyon shop</a></div>
  <div class="dropdown" style="float:right;">
    <img class="dropbtn" th:src="@{/icons/man.jpg}" alt="profile">
    <div class="dropdown-content">
      <a href="registration">Регистрация</a>
      <a href="authorize">Авторизация</a>
      <a href="basket">Корзниа <span th:text="${count}"></span></a>
    </div>
  </div>
</div>
</body>
</html>