<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="stylesheet" href="../static/slider.css" th:href="@{/slider.css}">
</head>
<body>
<div class="info">
  <h2 class="greetings">Semyon shop</h2>
  <div class="dropdown" style="float:right;">
    <img class="dropbtn" th:src="@{/icons/man.jpg}" alt="profile" style="width: 60px; height: 60px"
      src="../static/icons/man.jpg">
    <div class="dropdown-content">
      <a href="registration">Регистрrация</a>
      <a href="authorize">Авторизация</a>
    </div>
  </div>
</div>
<div class="container" th:each="product: ${products}">
  <form th:action="@{/products/buy/{id}(id = ${product.getId()})}" method="get">
    <div class="product">
      <span th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getName()}">Name</span>
      <br>
      <div>
        <img class="card-img-top" th:src="@{'/products/photo/' + ${product.getPhoto().get(0).getId()}}"
             alt="photo" style="width: 120px; height: 120px">
      </div>
      <button type="submit" name="action" value="buy"><img th:src="@{/icons/bag.svg}" alt="bag"></button>
      <button type="submit" name="action" value="more">
        <img th:src="@{/icons/three-dots.svg}" alt="more">
      </button>
    </div>
  </form>
</div>
</body>
</html>
