<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
<div class="container" th:each="product: ${products}">
  <form th:action="@{/products/buy/{id}(id = ${product.getId()})}" method="get">
    <span th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getName()}">id</span>
    <span th:text="${product.getDescription()}">description</span>
    <span><span th:text="${product.getPrice()}">price</span> P</span>
    <br>
    <p>
      <div th:each="photo: ${photos}">
        <img class="card-img-top" th:src="@{'/products/photo/' + ${photo.id}}"
          alt="photo" style="width: 40px; height: 40px">
      </div>
    </p>
    <button type="submit" name="action" value="buy">Купить</button>
    <button type="submit" name="action" value="more">Узнать подробнее</button>
  </form>
</div>
</body>
</html>
