<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
<div class="container" th:each="product: ${products}">
  <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getName()}">id</a>
  <span th:text="${product.getDescription()}">description</span>
  <span><span th:text="${product.getPrice()}">price</span> P</span>
  <br>
  <a th:href="@{/products/{id}(id=${product.getId()})}">
    <div th:each="photo: ${photos}">
      <img class="card-img-top" th:src="@{'/products/photo/' + ${photo.id}}"
         alt="photo" style="width: 40px; height: 40px">
    </div>
  </a>
  </div>
</body>
</html>
